<% @animal.each do |animal| %>
  <div class = 'square-box'>
    <img src="pug1.jpg" height="180" width="240" /><br>
    <%= animal.name %><br>
    <%= animal.age %><br>
    <%= animal.description %><br>
  </div>
<% end %>
